@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
} */

.input {
  /* Base styles */
  @apply w-full rounded-xl bg-neutral-50 px-4 py-2;
  @apply border border-neutral-300 focus:border-neutral-400;

  /* Focus states */
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-offset-2;
  @apply focus:ring-neutral-600;

  /* Disabled states */
  @apply disabled:opacity-50;
  @apply disabled:cursor-not-allowed;

  /* Transitions */
  @apply transition-all;

  /* Dark Mode */
  @apply dark:border dark:border-neutral-800 dark:bg-neutral-900;
  @apply dark:focus:border-neutral-400 dark:focus:ring-neutral-400 dark:focus:ring-offset-neutral-900;
}

.input-with-icon {
  @apply pl-10;
}

.input-error {
  @apply border-red-500;
  @apply dark:border-red-400;
}

.input-success {
  @apply border-green-500;
  @apply dark:border-green-400;
}

.input-default {
  /* @apply border-gray-300; */
}

select.input {
  @apply appearance-none;
}

.form {
  @apply mx-auto flex max-w-sm flex-col gap-4 py-16;
}
