@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'theme/light.scss';
@import 'theme/dark.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    @extend .light;
  }

  :root[class~="dark"] {
    @extend .dark;
  }
}

@layer base {
  * {
    border-color: var(--neutral-200);
    color: #1d1d1f;
    // color: theme('colors.blue.700');
  }
  body {
    background-color: white;
    color: black;
  }
  
  body.dark {
    background-color: black;
    color: white;
  }
}
 */